.van-toast{word-break:break-word!important}
.cg-default.van-button{font-weight:700;font-size:.4rem}
.cg-default.van-button
.van-button__icon{height:100%;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center}
.cg-default.van-button .van-button__icon>img{height:80%}
.right{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center;font-size:.4rem;color:var(--textW)}
.right img{width:.66667rem;height:.66667rem;border-radius:50%;overflow:hidden;display:block;margin-right:.13333rem}
.login__container{height:100%;overflow-y:scroll;white-space:nowrap;-webkit-overflow-scrolling:touch}
.login__container::-webkit-scrollbar{width:0}
.login__container .van-nav-bar{background-color:#f6f6f6}
.login__container .van-nav-bar .leftArrow{width:.45333rem;height:auto}
.login__container .login_container-tab{width:100%;overflow-x:hidden;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;flex-direction:row;overflow:hidden;padding:0 .53333rem}
.login__container .login_container-tab .tab{-webkit-box-flex:1;-webkit-flex:1;flex:1;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;flex-direction:column;padding:.18667rem 0;-webkit-box-align:center;-webkit-align-items:center;align-items:center;border-bottom:.02667rem solid var(--Dividing-line_color);color:var(--text_color_L2);gap:.26667rem;font-size:.4rem;font-weight:700;line-height:.4rem}
.login__container .login_container-tab .tab svg{height:.64rem;width:.64rem}
.login__container .login_container-tab .active{color:var(--main-color);border-bottom:.05333rem solid var(--main-color)}
.login__container .login_container-tab .basicimg{width:.64rem;height:.64rem;background-position:center;background-repeat:no-repeat;background-size:contain}
.login__container-heading{min-height:2.66667rem;padding:0 .53333rem}
.login__container-heading__title{font-size:.42667rem;font-weight:700;color:#fff;padding-top:.26667rem}
.login__container-heading__subTitle{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;flex-direction:column;font-size:.29333rem;margin-top:.29333rem;margin-bottom:.53333rem;color:#fff;white-space:normal}
.login__container-form{position:relative;margin-top:.74667rem;overflow:hidden;padding-inline:.53333rem;margin-bottom:.74667rem}
.login__container-form .tab-content{display:none}
.login__container-form .activecontent{display:block}
.login__container-form__wrapper{position:relative;display:-webkit-box;display:-webkit-flex;display:flex;gap:.66667rem;width:100%;height:100%;box-sizing:content-box}
.login__container-form__wrapper>div{-webkit-flex-shrink:0;flex-shrink:0;width:100%}

.signIn__container-remember .van-checkbox{display:-webkit-inline-box;display:-webkit-inline-flex;display:inline-flex}
.signIn__container-remember .van-checkbox .van-checkbox__icon{width:.56rem;height:.56rem;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center}
.signIn__container-remember .van-checkbox .van-checkbox__label{font-size:.32rem;line-height:.56rem}
.signIn__container-button{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;flex-direction:column;-webkit-box-align:center;-webkit-align-items:center;align-items:center;width:100%;margin-top:.76rem}
.signIn__container-button button{width:7.73333rem;height:1.06667rem;color:var(--text_color_L2);font-size:.48rem;font-weight:700;letter-spacing:.05333rem;border-radius:1.06667rem;border:none;background:var(--button_dis_color)}.signIn__container-button .active{background:var(--main_gradient-color);color:var(--text_color_L4)}
.signIn__container-button .register{width:7.73333rem;height:1.06667rem;color:var(--main-color);font-size:.48rem;background:transparent;border-radius:1.06667rem;border:.01333rem solid var(--main-color);box-shadow:none;text-shadow:none;margin-top:.53333rem}
.signIn__container-button span{margin-top:1.86667rem;color:var(--main-color);font-size:.32rem}
.signIn__container .signIn_footer{display:-webkit-box;display:-webkit-flex;display:flex;margin-top:.77333rem;color:var(--main-color);font-size:.32rem;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center}
.signIn__container .signIn_footer .forgetcon,.signIn__container .signIn_footer .customcon{width:50%;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;align-items:center}
.signIn__container .signIn_footer .forgetbg{width:1.06667rem;height:1.06667rem}
.signIn__container .signIn_footer .font24{margin-top:.21333rem;font-size:.32rem;font-weight:400;color:var(--text_color_L1);text-align:center}
.signIn__container .idlockTip{min-height:.93333rem;font-size:.32rem;line-height:.46667rem;text-align:center;color:var(--text_color_L2);margin-bottom:.8rem;word-wrap:break-word;white-space:normal}
.signIn__container .dialogBtn{min-width:6.66667rem;height:1.06667rem;color:var(--main-color);font-size:.42667rem;text-align:center;border-radius:9rem;border:.01333rem solid var(--main-color);background:transparent;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center}
.signIn__container .dialogBtn>img{width:.64rem;height:.64rem;margin-right:.13333rem}
.signIn__container .dialogBtn:last-of-type{width:-webkit-fit-content;width:fit-content;color:var(--text_color_L4);background:var(--main_gradient-color)}
.signIn__container .dialog__container-footer{-webkit-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-orient:vertical;-webkit-box-direction:reverse;-webkit-flex-direction:column-reverse;flex-direction:column-reverse;height:-webkit-fit-content;height:fit-content}

.phoneInput__container{margin-bottom:.8rem}
.phoneInput__container-label,.phoneInput__container-input{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center;padding:0 .02667rem}
.phoneInput__container-label{margin-bottom:.32rem;color:var(--main-color);font-size:.4rem}
.phoneInput__container-label svg{width:.64rem;height:.64rem;margin-right:.16rem;color:var(--main-color)}
.phoneInput__container-input{position:relative;gap:.24rem}
.phoneInput__container-input input{width:100%;height:1.17333rem;padding:.36rem .34667rem .36rem 2.93333rem;color:var(--text_color_L1);font-size:.37333rem;border:none;border-radius:.26667rem;background:var(--bg_color_L2)}html:lang(ar) .phoneInput__container-input input{left:unset;right:.4rem;padding:0.36rem 2.93333rem 0.36rem 0.34667rem}
.phoneInput__container-tips{margin-top:.32rem;padding-left:.22667rem;color:var(--norm_red-color);font-size:.32rem;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;flex-direction:row}
.phoneInput__container-tips .tipbg{width:.42667rem;height:.42667rem;background-image:url(/assets/png/hint-f8a7f7d4.png);background-position:center;background-repeat:no-repeat;background-size:contain}

.passwordInput__container{margin-bottom:.53333rem}
.passwordInput__container-label,.passwordInput__container-input{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center;padding:0 .02667rem}
.passwordInput__container-label{margin-bottom:.32rem;color:var(--text_color_L1);font-size:.4rem}
.passwordInput__container-label__icon{width:.64rem;height:.64rem;margin-right:.16rem}
.passwordInput__container-input{position:relative;gap:.24rem;border-radius:.26667rem}
.passwordInput__container-input input{width:99%;height:1.17333rem;padding:.36rem .34667rem;font-size:.37333rem;border:none;border-radius:.26667rem;background:var(--bg_color_L2);color:var(--text_color_L1)}
.passwordInput__container-input input::-webkit-input-placeholder{color:var(--text_color_L3)}.passwordInput__container-input input::placeholder{color:var(--text_color_L3)}
.passwordInput__container-input img{position:absolute;top:50%;right:.4rem;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:.53333rem;height:auto}

.dropdown{
    position:absolute;
    left:0;
    z-index:2;
    min-width:2.4rem;
    padding:0 .26667rem 0 .13333rem;
    background:var(--bg_color_L1);
    border-radius:.26667rem;
    cursor:pointer;
    color:var(--text_color_L2)
}
.dropdown__value{
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    align-items:center;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    justify-content:space-around;
    height:1.17333rem;
    font-size:.37333rem}
.dropdown__list{display:none}
.navbar{height:1.2rem}
.navbar-fixed{position:fixed;top:0;left:50%;width:100%;max-width:400px;height:1.2rem;z-index:999;transform:translateX(-50%)}
.navbar__content{height:1.2rem;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;padding:0 .4rem}
.navbar__content-left{color:#fff;font-size:.6rem;cursor:pointer}
.navbar__content-center{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center}
.navbar__content-center .headLogo{width:3.98667rem;height:3.12rem;background-size:contain;background-repeat:no-repeat;background-position:center}
.navbar__content-title{font-size:.45333rem;font-weight:700;color:#fff}@media screen and (max-width:500px)
{.navbar-fixed{left:0;max-width:100%;transform:translateX(0)}}
.customer{position:fixed;bottom:.4rem;right:.4rem;width:1.33333rem;height:1.33333rem;background:#5ca6ff;border-radius:50%;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;cursor:pointer;z-index:999;box-shadow:0 .05333rem .26667rem rgba(0,0,0,.3)}
.customer img{width:.8rem;height:.8rem}
.van-checkbox{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center;cursor:pointer;-webkit-user-select:none;user-select:none}
.van-checkbox__icon{-webkit-flex-shrink:0;flex-shrink:0;font-size:.4rem;line-height:1.2;cursor:pointer;width:.4rem;height:.4rem;color:transparent;text-align:center;transition-property:color,border-color,background-color}
.van-checkbox__icon--round{border-radius:50%}
.van-checkbox__icon{border:.02667rem solid var(--main-color)}
.van-checkbox__icon--checked{color:#fff;background-color:var(--main-color);border-color:var(--main-color)}
.van-checkbox__label{margin-left:.21333rem;color:var(--text_color_L1);line-height:.53333rem;font-size:.37333rem}
.van-icon{position:relative;display:inline-block;font:normal normal normal .37333rem/1 vant-icon;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased}
.van-icon-arrow-left:before{content:"\e6d9"}
.van-icon-success:before{content:"\e78e"}
.van-icon-arrow-down:before{content:"\e6db"}
.svg-icon{width:1em;height:1em;fill:currentColor;overflow:hidden}

.van-badge__wrapper {
    position: relative;
    display: inline-block;
}
@font-face {
    font-family: vant-icon;
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    src:
            url(/assets/vant/vant-icon-db1de1.woff2) format("woff2"),
            url(/assets/vant/vant-icon-db1de1.woff) format("woff");
}

